[submodule "writingcenter"]
	path = writingcenter/Symfony
	url = https://github.com/betheluniversity/writing-center
[submodule "math"]
	path = math
	url = https://github.com/betheluniversity/sciencelabs
[submodule "cs"]
        path = cs
        url = https://github.com/betheluniversity/sciencelabs
[submodule "business"]
        path = business
        url = https://github.com/betheluniversity/sciencelabs
[submodule "science"]
        path = science
        url = https://github.com/betheluniversity/sciencelabs
